<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--   <bean id="springBean" class="hr.kingict.akademija.bean.SpringBean" >-->
            <!--&lt;!&ndash;             <constructor-arg index="0" value="1"/>&ndash;&gt;-->
            <!--&lt;!&ndash;             <constructor-arg index="1" value="xxxx" />&ndash;&gt;-->

<!--   </bean>-->

<!--    <bean id="firstBean" class="hr.kingict.akademija.bean.FirstBean" >-->
<!--        </bean>-->



</beans>